In [ ]:
# Practice Data Cleaning Using Pandas

This notebook demonstrates data cleaning techniques using the consumer complaints dataset.

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("Libraries imported successfully!")

Libraries imported successfully!

## 1. Load & Quick Scan

Let's start by loading the consumer complaints dataset and performing a quick exploration.

In [2]:
# Task 1: Load the dataset into a DataFrame
print("Loading the consumer complaints dataset...")
df = pd.read_csv("consumer_complaints_unclean.csv")

# Task 2: Check shape and column data types
print(f"Dataset shape: {df.shape}")
print(f"Number of rows: {df.shape[0]:,}")
print(f"Number of columns: {df.shape[1]}")

print(f"\nColumn data types:")
print(df.dtypes)

Loading the consumer complaints dataset...
Dataset shape: (2040, 16)
Number of rows: 2,040
Number of columns: 16

Column data types:
Complaint ID                      int64
Date Received                    object
Date Sent to Company             object
Product                          object
Sub-product                      object
Issue                            object
Company                          object
State                            object
ZIP code                         object
City                             object
Company response to consumer     object
Timely response?                 object
Consumer disputed?               object
Latitude                        float64
Longitude                       float64
Status                           object
dtype: object

In [12]:
# Task 3: Display the first 5 rows and note any issues
print("First 5 rows of the dataset:")
print("="*50)
display(df.head())

print(f"\nColumn names:")
print(list(df.columns))

First 5 rows of the dataset:
==================================================

,Complaint ID,Date Received,Date Sent to Company,Product,Sub-product,Issue,Company,State,ZIP code,City,Company response to consumer,Timely response?,Consumer disputed?,Latitude,Longitude,Status
0,100000,2023-11-10,2024-01-01,mortgage,Interest rate,,Metro Loans,NY,75285.0,new york,NaN,N,NaN,42.312932,-91.462816,Closed
1,100001,2023-03-12,2023-03-21,MORTGAGE,Collections,Collection harassment,NaN,FL,43383.0,miami,NaN,NaN,N,42.236514,-103.703588,Resolved
2,100002,2023-10-20,2023-11-27,,Interest rate,Other,NaN,NY,43864.0,Unknown,Unknown,FALSE,NaN,41.279018,-94.258898,Closed
3,100003,2023-02-17,2023-03-13,Student loan,NaN,Fees,Metro Loans,GA,123.0,new york,NaN,Unknown,No,34.924120,-85.770266,
4,100004,2023-11-21,2023-11-23,credit card,Adjustable loan,Collection harassment,United Credit,PA,62086.0,New York,Unknown,Yes,NaN,35.643178,-86.962992,Unknown

Column names:
['Complaint ID', 'Date Received', 'Date Sent to Company', 'Product', 'Sub-product', 'Issue', 'Company', 'State', 'ZIP code', 'City', 'Company response to consumer', 'Timely response?', 'Consumer disputed?', 'Latitude', 'Longitude', 'Status']

## 2. Missing Values

Now let's analyze missing values in the dataset to understand data completeness.

In [4]:
# Task 4: Compute % missing per column
print("Missing Values Analysis")
print("="*50)

# Count missing values per column
missing_counts = df.isnull().sum()
total_rows = len(df)

# Calculate percentage missing
missing_percentages = (missing_counts / total_rows) * 100

# Create a summary dataframe
missing_summary = pd.DataFrame({
    'Column': df.columns,
    'Missing_Count': missing_counts,
    'Missing_Percentage': missing_percentages.round(2)
})

# Sort by missing percentage (descending)
missing_summary = missing_summary.sort_values('Missing_Percentage', ascending=False)
print(missing_summary)

print(f"\nExample snippet (toy data) - as requested:")
example = pd.DataFrame({
    "city": ["NYC", None, "LA"],
    "population": [8.4, None, 4.0]
})
print("Toy example missing values:")
print(example.isna().sum())

Missing Values Analysis
==================================================
                                                    Column  Missing_Count  \
Company response to consumer  Company response to consumer            684
Sub-product                                    Sub-product            542
Consumer disputed?                      Consumer disputed?            490
Company                                            Company            359
City                                                  City            292
State                                                State            285
Timely response?                          Timely response?            248
Product                                            Product             79
Issue                                                Issue             70
Date Received                                Date Received              0
Date Sent to Company                  Date Sent to Company              0
Complaint ID                                  Complaint ID              0
ZIP code                                          ZIP code              0
Latitude                                          Latitude              0
Longitude                                        Longitude              0
Status                                              Status              0

                              Missing_Percentage
Company response to consumer               33.53
Sub-product                                26.57
Consumer disputed?                         24.02
Company                                    17.60
City                                       14.31
State                                      13.97
Timely response?                           12.16
Product                                     3.87
Issue                                       3.43
Date Received                               0.00
Date Sent to Company                        0.00
Complaint ID                                0.00
ZIP code                                    0.00
Latitude                                    0.00
Longitude                                   0.00
Status                                      0.00

Example snippet (toy data) - as requested:
Toy example missing values:
city          1
population    1
dtype: int64

In [5]:
# Task 5: Identify columns with very high missingness (>80%)
print("Columns with High Missingness (>80%)")
print("="*40)

high_missing_cols = missing_summary[missing_summary['Missing_Percentage'] > 80]
print(f"Found {len(high_missing_cols)} columns with >80% missing values:")
print(high_missing_cols)

if len(high_missing_cols) > 0:
    print(f"\nColumns to consider dropping:")
    for idx, row in high_missing_cols.iterrows():
        print(f"- {row['Column']}: {row['Missing_Percentage']:.1f}% missing")
else:
    print("No columns found with >80% missing values.")

# Also check for moderately high missingness (>50%)
moderate_missing = missing_summary[(missing_summary['Missing_Percentage'] > 50) & 
                                 (missing_summary['Missing_Percentage'] <= 80)]
print(f"\nColumns with moderate missingness (50-80%):")
print(moderate_missing)

Columns with High Missingness (>80%)
========================================
Found 0 columns with >80% missing values:
Empty DataFrame
Columns: [Column, Missing_Count, Missing_Percentage]
Index: []
No columns found with >80% missing values.

Columns with moderate missingness (50-80%):
Empty DataFrame
Columns: [Column, Missing_Count, Missing_Percentage]
Index: []

In [6]:
# Task 6: Decide whether to drop, fill, or keep columns
print("Decision Framework for Missing Data")
print("="*40)

def missing_data_strategy(missing_pct, column_name):
    """Determine strategy based on missing percentage"""
    if missing_pct > 80:
        return "DROP - Too much missing data"
    elif missing_pct > 50:
        return "EVALUATE - Consider importance vs missingness"
    elif missing_pct > 20:
        return "FILL - Use imputation strategies"
    elif missing_pct > 0:
        return "FILL - Simple filling or keep as-is"
    else:
        return "KEEP - No missing values"

# Apply strategy to each column
strategies = []
for idx, row in missing_summary.iterrows():
    strategy = missing_data_strategy(row['Missing_Percentage'], row['Column'])
    strategies.append(strategy)

missing_summary['Recommended_Strategy'] = strategies

# Display recommendations
print("Recommended strategies for each column:")
print(missing_summary[['Column', 'Missing_Percentage', 'Recommended_Strategy']])

# Summary of actions
print(f"\nSummary of recommended actions:")
strategy_counts = missing_summary['Recommended_Strategy'].value_counts()
for strategy, count in strategy_counts.items():
    print(f"- {strategy}: {count} columns")

Decision Framework for Missing Data
========================================
Recommended strategies for each column:
                                                    Column  \
Company response to consumer  Company response to consumer
Sub-product                                    Sub-product
Consumer disputed?                      Consumer disputed?
Company                                            Company
City                                                  City
State                                                State
Timely response?                          Timely response?
Product                                            Product
Issue                                                Issue
Date Received                                Date Received
Date Sent to Company                  Date Sent to Company
Complaint ID                                  Complaint ID
ZIP code                                          ZIP code
Latitude                                          Latitude
Longitude                                        Longitude
Status                                              Status

                              Missing_Percentage  \
Company response to consumer               33.53
Sub-product                                26.57
Consumer disputed?                         24.02
Company                                    17.60
City                                       14.31
State                                      13.97
Timely response?                           12.16
Product                                     3.87
Issue                                       3.43
Date Received                               0.00
Date Sent to Company                        0.00
Complaint ID                                0.00
ZIP code                                    0.00
Latitude                                    0.00
Longitude                                   0.00
Status                                      0.00

                                             Recommended_Strategy
Company response to consumer     FILL - Use imputation strategies
Sub-product                      FILL - Use imputation strategies
Consumer disputed?               FILL - Use imputation strategies
Company                       FILL - Simple filling or keep as-is
City                          FILL - Simple filling or keep as-is
State                         FILL - Simple filling or keep as-is
Timely response?              FILL - Simple filling or keep as-is
Product                       FILL - Simple filling or keep as-is
Issue                         FILL - Simple filling or keep as-is
Date Received                            KEEP - No missing values
Date Sent to Company                     KEEP - No missing values
Complaint ID                             KEEP - No missing values
ZIP code                                 KEEP - No missing values
Latitude                                 KEEP - No missing values
Longitude                                KEEP - No missing values
Status                                   KEEP - No missing values

Summary of recommended actions:
- KEEP - No missing values: 7 columns
- FILL - Simple filling or keep as-is: 6 columns
- FILL - Use imputation strategies: 3 columns

## 3. Duplicates

Let's identify and handle duplicate records in the dataset.

In [7]:
# Task 7: Count the number of duplicate rows
print("Duplicate Analysis")
print("="*30)

# Count total duplicate rows
total_duplicates = df.duplicated().sum()
print(f"Total duplicate rows: {total_duplicates}")
print(f"Percentage of duplicates: {(total_duplicates/len(df)*100):.2f}%")

# Check duplicates based on Complaint ID (should be unique)
complaint_id_duplicates = df.duplicated(subset=['Complaint ID']).sum()
print(f"Duplicate Complaint IDs: {complaint_id_duplicates}")

# Show some examples of duplicates if they exist
if total_duplicates > 0:
    print(f"\nExample duplicate rows:")
    duplicate_rows = df[df.duplicated(keep=False)].head(10)
    display(duplicate_rows)

# Example snippet (toy data) - as requested
print(f"\nExample snippet (toy data) - as requested:")
toy_df = pd.DataFrame({"A": [1, 1, 2], "B": ["x", "x", "y"]})
print("Toy example duplicates:")
print(f"Number of duplicates: {toy_df.duplicated().sum()}")
print("After dropping duplicates:")
print(toy_df.drop_duplicates())

Duplicate Analysis
==============================
Total duplicate rows: 40
Percentage of duplicates: 1.96%
Duplicate Complaint IDs: 155

Example duplicate rows:

,Complaint ID,Date Received,Date Sent to Company,Product,Sub-product,Issue,Company,State,ZIP code,City,Company response to consumer,Timely response?,Consumer disputed?,Latitude,Longitude,Status
56,100056,2023-09-18,2023-11-04,CREDIT reporting,Collections,Collection harassment,Metro Loans,IL,28577,miami,Closed,No,No,39.532682,-117.441373,In Progress
231,100231,2024-01-05,2024-02-27,NaN,Rewards,Fees,NaN,CA,10694,Detroit,NaN,Yes,N,34.016012,-87.405957,Unknown
275,100275,2024-04-24,2024-04-25,credit reporting,NaN,Fees,United Credit,,64311,NaN,NaN,N,Yes,43.679343,-97.452391,Resolved
367,100367,2023-06-11,2023-07-10,mortgage,NaN,Identity theft,Metro Loans,NC,61792,Unknown,Unknown,FALSE,NaN,35.674465,-86.431002,
375,100375,2023-12-10,2023-12-11,bank Account,Interest rate,Identity theft,NaN,OH,47709,NaN,In progress,Y,FALSE,45.813869,-100.712525,In Progress
442,100442,2023-03-10,2023-03-11,Credit Card,Adjustable loan,Billing disputes,United Credit,NaN,24733,Charlotte,Closed with explanation,No,Y,44.743886,-90.943190,Open
447,100447,2023-07-23,2023-08-02,CREDIT reporting,Interest rate,NaN,NaN,IL,93070,Chicago,Unknown,NaN,NaN,35.796463,-104.006724,
558,100558,2023-08-18,2023-09-18,CREDIT CARD,Collections,Billing disputes,NaN,GA,98437,NaN,NaN,NaN,TRUE,45.884184,-100.004280,Open
573,100573,2023-12-09,2023-12-16,bank Account,Adjustable loan,Fees,Metro Loans,NC,36811,New York,NaN,Unknown,Yes,50.017163,-84.602810,Resolved
577,100577,2023-01-22,2023-03-01,Credit Reporting,NaN,Incorrect information,Unknown,OH,87785,Unknown,NaN,Yes,No,43.118418,-88.159617,In Progress

Example snippet (toy data) - as requested:
Toy example duplicates:
Number of duplicates: 1
After dropping duplicates:
   A  B
0  1  x
2  2  y

In [8]:
# Task 8: Drop duplicates by Complaint ID, keeping the latest Date Received
print("Removing Duplicates")
print("="*25)

# Report shape before
print(f"Shape before removing duplicates: {df.shape}")

# First, let's convert Date Received to datetime for proper sorting (temporarily)
df_temp = df.copy()
df_temp['Date Received'] = pd.to_datetime(df_temp['Date Received'], errors='coerce')

# Sort by Complaint ID and Date Received (descending to get latest dates first)
df_sorted = df_temp.sort_values(['Complaint ID', 'Date Received'], ascending=[True, False])

# Drop duplicates based on Complaint ID, keeping the first occurrence (which is the latest date)
df_cleaned = df_sorted.drop_duplicates(subset=['Complaint ID'], keep='first')

# Convert back to original format to maintain consistency
df_cleaned['Date Received'] = df_cleaned['Date Received'].dt.strftime('%Y-%m-%d')

# Task 9: Report shape before and after
print(f"Shape after removing duplicates: {df_cleaned.shape}")
print(f"Rows removed: {df.shape[0] - df_cleaned.shape[0]}")

# Update our main dataframe
df = df_cleaned.reset_index(drop=True)
print(f"Updated dataframe shape: {df.shape}")

Removing Duplicates
=========================
Shape before removing duplicates: (2040, 16)
Shape after removing duplicates: (1885, 16)
Rows removed: 155
Updated dataframe shape: (1885, 16)

C:\Users\haadh\AppData\Local\Temp\ipykernel_14164\2307954289.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Date Received'] = df_cleaned['Date Received'].dt.strftime('%Y-%m-%d')

## 4. Data Types & Parsing

Now let's convert columns to their appropriate data types for better analysis.

In [9]:
# Task 10: Convert Date Received and Date Sent to Company to datetime
print("Data Type Conversions")
print("="*30)

print("Original data types:")
print(df.dtypes)

# Convert date columns to datetime
print(f"\nConverting date columns to datetime...")
df['Date Received'] = pd.to_datetime(df['Date Received'], errors='coerce')
df['Date Sent to Company'] = pd.to_datetime(df['Date Sent to Company'], errors='coerce')

# Check for any parsing errors
date_received_errors = df['Date Received'].isnull().sum()
date_sent_errors = df['Date Sent to Company'].isnull().sum()

print(f"Date Received parsing errors: {date_received_errors}")
print(f"Date Sent to Company parsing errors: {date_sent_errors}")

# Example snippet (toy data) - as requested
print(f"\nExample snippet (toy data) - as requested:")
example = pd.DataFrame({
    "date": ["2020-01-01", "bad"],
    "zip": ["10001", "abc"]
})
print("Before conversion:")
print(example.dtypes)
example['date'] = pd.to_datetime(example['date'], errors='coerce')
example['zip'] = pd.to_numeric(example['zip'], errors='coerce')
print("After conversion:")
print(example.dtypes)
print(example)

Data Type Conversions
==============================
Original data types:
Complaint ID                      int64
Date Received                    object
Date Sent to Company             object
Product                          object
Sub-product                      object
Issue                            object
Company                          object
State                            object
ZIP code                         object
City                             object
Company response to consumer     object
Timely response?                 object
Consumer disputed?               object
Latitude                        float64
Longitude                       float64
Status                           object
dtype: object

Converting date columns to datetime...
Date Received parsing errors: 0
Date Sent to Company parsing errors: 0

Example snippet (toy data) - as requested:
Before conversion:
date    object
zip     object
dtype: object
After conversion:
date    datetime64[ns]
zip            float64
dtype: object
        date      zip
0 2020-01-01  10001.0
1        NaT      NaN

In [10]:
# Task 11: Convert ZIP code, Latitude, Longitude to numeric
print("Converting numeric columns...")

# Convert ZIP code to numeric (handle non-numeric values)
print(f"ZIP code before conversion: {df['ZIP code'].dtype}")
df['ZIP code'] = pd.to_numeric(df['ZIP code'], errors='coerce')
zip_errors = df['ZIP code'].isnull().sum()
print(f"ZIP code conversion errors: {zip_errors}")

# Convert Latitude and Longitude to numeric (they should already be numeric)
print(f"Latitude before conversion: {df['Latitude'].dtype}")
print(f"Longitude before conversion: {df['Longitude'].dtype}")

df['Latitude'] = pd.to_numeric(df['Latitude'], errors='coerce')
df['Longitude'] = pd.to_numeric(df['Longitude'], errors='coerce')

lat_errors = df['Latitude'].isnull().sum() 
lon_errors = df['Longitude'].isnull().sum()
print(f"Latitude conversion errors: {lat_errors}")
print(f"Longitude conversion errors: {lon_errors}")

print(f"After numeric conversions:")
print(f"ZIP code: {df['ZIP code'].dtype}")
print(f"Latitude: {df['Latitude'].dtype}")
print(f"Longitude: {df['Longitude'].dtype}")

Converting numeric columns...
ZIP code before conversion: object
ZIP code conversion errors: 159
Latitude before conversion: float64
Longitude before conversion: float64
Latitude conversion errors: 0
Longitude conversion errors: 0
After numeric conversions:
ZIP code: float64
Latitude: float64
Longitude: float64

In [11]:
# Task 12: Change Product, State, City to categorical/string
print("Converting categorical columns...")

# Convert to categorical for better memory usage and performance
categorical_columns = ['Product', 'State', 'City', 'Company', 'Sub-product', 
                      'Issue', 'Company response to consumer', 'Timely response?', 
                      'Consumer disputed?', 'Status']

print(f"Converting {len(categorical_columns)} columns to categorical:")

for col in categorical_columns:
    if col in df.columns:
        print(f"- {col}: {df[col].dtype} -> category")
        df[col] = df[col].astype('category')

# Final data types summary
print(f"\nFinal data types after all conversions:")
print("="*40)
print(df.dtypes)

# Memory usage comparison would be good to show
print(f"\nDataset info after type conversions:")
print(f"Shape: {df.shape}")
print(f"Memory usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

Converting categorical columns...
Converting 10 columns to categorical:
- Product: object -> category
- State: object -> category
- City: object -> category
- Company: object -> category
- Sub-product: object -> category
- Issue: object -> category
- Company response to consumer: object -> category
- Timely response?: object -> category
- Consumer disputed?: object -> category
- Status: object -> category

Final data types after all conversions:
========================================
Complaint ID                             int64
Date Received                   datetime64[ns]
Date Sent to Company            datetime64[ns]
Product                               category
Sub-product                           category
Issue                                 category
Company                               category
State                                 category
ZIP code                               float64
City                                  category
Company response to consumer          category
Timely response?                      category
Consumer disputed?                    category
Latitude                               float64
Longitude                              float64
Status                                category
dtype: object

Dataset info after type conversions:
Shape: (1885, 16)
Memory usage: 0.11 MB

## 5. Renaming & Category Standardization

Let's standardize column names and clean up categorical data for consistency.

In [13]:
# Task 13: Rename all columns to lowercase snake_case
print("Renaming Columns to snake_case")
print("="*35)

# Function to convert column names to snake_case
def to_snake_case(name):
    """Convert column name to lowercase snake_case"""
    import re
    # Replace spaces and hyphens with underscores
    name = re.sub(r'[\s\-]+', '_', name)
    # Convert to lowercase
    name = name.lower()
    # Remove any duplicate underscores
    name = re.sub(r'_+', '_', name)
    # Remove leading/trailing underscores
    name = name.strip('_')
    return name

# Show before and after column names
print("Column name conversions:")
old_columns = df.columns.tolist()
new_columns = [to_snake_case(col) for col in old_columns]

for old, new in zip(old_columns, new_columns):
    if old != new:
        print(f"- '{old}' -> '{new}'")

# Apply the renaming
column_mapping = dict(zip(old_columns, new_columns))
df = df.rename(columns=column_mapping)

print(f"\nNew column names:")
print(list(df.columns))

# Example snippet (toy data) - as requested
print(f"\nExample snippet (toy data) - as requested:")
example = pd.DataFrame({"Created Date": [1, 2]})
example = example.rename(columns={"Created Date": "created_date"})
print("Toy example column renaming:")
print(example.columns.tolist())

Renaming Columns to snake_case
===================================
Column name conversions:
- 'Complaint ID' -> 'complaint_id'
- 'Date Received' -> 'date_received'
- 'Date Sent to Company' -> 'date_sent_to_company'
- 'Product' -> 'product'
- 'Sub-product' -> 'sub_product'
- 'Issue' -> 'issue'
- 'Company' -> 'company'
- 'State' -> 'state'
- 'ZIP code' -> 'zip_code'
- 'City' -> 'city'
- 'Company response to consumer' -> 'company_response_to_consumer'
- 'Timely response?' -> 'timely_response?'
- 'Consumer disputed?' -> 'consumer_disputed?'
- 'Latitude' -> 'latitude'
- 'Longitude' -> 'longitude'
- 'Status' -> 'status'

New column names:
['complaint_id', 'date_received', 'date_sent_to_company', 'product', 'sub_product', 'issue', 'company', 'state', 'zip_code', 'city', 'company_response_to_consumer', 'timely_response?', 'consumer_disputed?', 'latitude', 'longitude', 'status']

Example snippet (toy data) - as requested:
Toy example column renaming:
['created_date']

In [14]:
# Task 14: Standardize Product, State, City categories (trim spaces, title case)
print("Standardizing Categorical Data")
print("="*35)

# List of categorical columns to standardize
categorical_cols_to_clean = ['product', 'state', 'city', 'company', 'sub_product', 'issue']

# Function to clean categorical data
def clean_categorical(series):
    """Clean categorical data by trimming spaces and applying title case"""
    if series.dtype.name == 'category':
        # Convert to string temporarily for cleaning
        cleaned = series.astype(str).str.strip().str.title()
        return cleaned.astype('category')
    else:
        return series.str.strip().str.title()

print("Cleaning categorical columns:")
for col in categorical_cols_to_clean:
    if col in df.columns:
        print(f"- Cleaning {col}...")
        # Show some examples before cleaning
        unique_before = df[col].astype(str).unique()[:5]
        
        # Clean the column
        df[col] = clean_categorical(df[col])
        
        # Show examples after cleaning
        unique_after = df[col].astype(str).unique()[:5]
        
        print(f"  Before: {unique_before}")
        print(f"  After:  {unique_after}")

# Example snippet (toy data) - as requested
print(f"\nExample snippet (toy data) - as requested:")
cats = pd.Series([" nyc ", "NYC", "new york"])
cleaned_cats = cats.str.strip().str.title()
print("Toy example category cleaning:")
print("Before:", cats.tolist())
print("After: ", cleaned_cats.tolist())

Standardizing Categorical Data
===================================
Cleaning categorical columns:
- Cleaning product...
  Before: ['mortgage' 'MORTGAGE' ' ' 'Student  loan' 'credit card']
  After:  ['Mortgage' '' 'Student  Loan' 'Credit Card' 'Credit  Card']
- Cleaning state...
  Before: ['NY' 'FL' 'GA' 'PA' 'CA']
  After:  ['Ny' 'Fl' 'Ga' 'Pa' 'Ca']
- Cleaning city...
  Before: [' new york ' 'miami' 'Unknown' 'New York' 'Miami']
  After:  ['New York' 'Miami' 'Unknown' 'Nan' 'Detroit']
- Cleaning company...
  Before: ['Metro Loans' np.str_('nan') 'United Credit' 'Acme Bank'
 'Northstar Finance']
  After:  ['Metro Loans' 'Nan' 'United Credit' 'Acme Bank' 'Northstar Finance']
- Cleaning sub_product...
  Before: ['Interest rate' 'Collections' np.str_('nan') 'Adjustable loan'
 'Fixed loan']
  After:  ['Interest Rate' 'Collections' 'Nan' 'Adjustable Loan' 'Fixed Loan']
- Cleaning issue...
  Before: [' ' 'Collection harassment' 'Other' 'Fees' 'Incorrect information']
  After:  ['' 'Collection Harassment' 'Other' 'Fees' 'Incorrect Information']

Example snippet (toy data) - as requested:
Toy example category cleaning:
Before: [' nyc ', 'NYC', 'new york']
After:  ['Nyc', 'Nyc', 'New York']

In [15]:
# Task 15: Fix inconsistent spellings in Product (e.g., Credit card vs CREDIT CARD)
print("Fixing Inconsistent Product Spellings")
print("="*40)

# Check current product categories
print("Current Product categories:")
product_counts = df['product'].value_counts()
print(product_counts.head(10))

# Create a mapping for common inconsistencies
product_mappings = {
    'Credit Card': 'Credit Card',
    'Credit Cards': 'Credit Card',
    'Creditcard': 'Credit Card',
    'Credit Card Or Prepaid Card': 'Credit Card Or Prepaid Card',
    'Mortgage': 'Mortgage',
    'Mortgages': 'Mortgage',
    'Student Loan': 'Student Loan',
    'Student Loans': 'Student Loan',
    'Bank Account Or Service': 'Bank Account Or Service',
    'Banking': 'Bank Account Or Service',
    'Debt Collection': 'Debt Collection',
    'Debt Collections': 'Debt Collection'
}

# Apply standardization
print(f"\nApplying product standardization...")
df['product'] = df['product'].astype(str)

# Apply mappings
for old_name, new_name in product_mappings.items():
    mask = df['product'].str.contains(old_name, case=False, na=False)
    if mask.any():
        count = mask.sum()
        print(f"- Standardizing '{old_name}' -> '{new_name}' ({count} records)")
        df.loc[mask, 'product'] = new_name

# Convert back to category
df['product'] = df['product'].astype('category')

print(f"\nProduct categories after standardization:")
print(df['product'].value_counts().head(10))

Fixing Inconsistent Product Spellings
========================================
Current Product categories:
product
Mortgage            294
Bank Account        282
Credit Reporting    265
Credit Card         261
Student Loan        188
Debt Collection     185
Credit  Card        101
Student  Loan        86
Debt  Collection     79
Nan                  70
Name: count, dtype: int64

Applying product standardization...
- Standardizing 'Credit Card' -> 'Credit Card' (261 records)
- Standardizing 'Mortgage' -> 'Mortgage' (294 records)
- Standardizing 'Student Loan' -> 'Student Loan' (188 records)
- Standardizing 'Debt Collection' -> 'Debt Collection' (185 records)

Product categories after standardization:
product
Mortgage            294
Bank Account        282
Credit Reporting    265
Credit Card         261
Student Loan        188
Debt Collection     185
Credit  Card        101
Student  Loan        86
Debt  Collection     79
Nan                  70
Name: count, dtype: int64

## 6. Null-like Tokens, Outliers & Sanity Checks

Let's identify and handle null-like values, outliers, and perform data validation.

In [16]:
# Task 16: Replace null-like tokens ('N/A','Unknown','') with NaN
print("Replacing Null-like Tokens")
print("="*30)

# Define null-like tokens to replace
null_tokens = ['N/A', 'Unknown', '', 'null', 'NULL', 'None', 'NONE', 'n/a', 'unknown', 
               'Not Available', 'Not Provided', 'Not Specified', ' ', '  ']

print(f"Null-like tokens to replace: {null_tokens}")

# Function to count null-like tokens in a column
def count_null_tokens(series, tokens):
    """Count null-like tokens in a series"""
    count = 0
    for token in tokens:
        if series.dtype == 'object' or series.dtype.name == 'category':
            count += (series.astype(str) == token).sum()
    return count

# Check each column for null-like tokens
print(f"\nNull-like tokens found per column:")
columns_to_check = df.select_dtypes(include=['object', 'category']).columns

replacements_made = {}
for col in columns_to_check:
    token_count = count_null_tokens(df[col], null_tokens)
    if token_count > 0:
        print(f"- {col}: {token_count} null-like tokens")
        # Replace tokens with NaN
        df[col] = df[col].replace(null_tokens, pd.NA)
        replacements_made[col] = token_count

if replacements_made:
    print(f"\nReplaced null-like tokens in {len(replacements_made)} columns")
    total_replacements = sum(replacements_made.values())
    print(f"Total replacements made: {total_replacements}")
else:
    print("No null-like tokens found to replace")

# Example snippet (toy data) - as requested
print(f"\nExample snippet (toy data) - as requested:")
s = pd.Series(["N/A", "Unknown", "NYC"])
cleaned_s = s.replace(["N/A", "Unknown"], pd.NA)
print("Toy example null token replacement:")
print("Before:", s.tolist())
print("After: ", cleaned_s.tolist())

Replacing Null-like Tokens
==============================
Null-like tokens to replace: ['N/A', 'Unknown', '', 'null', 'NULL', 'None', 'NONE', 'n/a', 'unknown', 'Not Available', 'Not Provided', 'Not Specified', ' ', '  ']

Null-like tokens found per column:
- product: 74 null-like tokens
- issue: 59 null-like tokens
- company: 327 null-like tokens
- state: 263 null-like tokens
- city: 188 null-like tokens
- company_response_to_consumer: 290 null-like tokens
- timely_response?: 238 null-like tokens
- status: 648 null-like tokens

Replaced null-like tokens in 8 columns
Total replacements made: 2087

Example snippet (toy data) - as requested:
Toy example null token replacement:
Before: ['N/A', 'Unknown', 'NYC']
After:  [<NA>, <NA>, 'NYC']

C:\Users\haadh\AppData\Local\Temp\ipykernel_14164\539959309.py:30: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df[col] = df[col].replace(null_tokens, pd.NA)
C:\Users\haadh\AppData\Local\Temp\ipykernel_14164\539959309.py:30: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df[col] = df[col].replace(null_tokens, pd.NA)
C:\Users\haadh\AppData\Local\Temp\ipykernel_14164\539959309.py:30: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df[col] = df[col].replace(null_tokens, pd.NA)
C:\Users\haadh\AppData\Local\Temp\ipykernel_14164\539959309.py:30: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df[col] = df[col].replace(null_tokens, pd.NA)
C:\Users\haadh\AppData\Local\Temp\ipykernel_14164\539959309.py:30: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df[col] = df[col].replace(null_tokens, pd.NA)
C:\Users\haadh\AppData\Local\Temp\ipykernel_14164\539959309.py:30: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df[col] = df[col].replace(null_tokens, pd.NA)
C:\Users\haadh\AppData\Local\Temp\ipykernel_14164\539959309.py:30: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df[col] = df[col].replace(null_tokens, pd.NA)
C:\Users\haadh\AppData\Local\Temp\ipykernel_14164\539959309.py:30: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df[col] = df[col].replace(null_tokens, pd.NA)

In [17]:
# Task 17: Check for outliers in Latitude/Longitude using IQR
print("Outlier Detection in Geographic Coordinates")
print("="*45)

# Function to detect outliers using IQR method
def detect_outliers_iqr(series, column_name):
    """Detect outliers using the IQR method"""
    # Remove NaN values for calculation
    clean_series = series.dropna()
    
    if len(clean_series) == 0:
        print(f"- {column_name}: No valid data for outlier detection")
        return pd.Series([], dtype=bool)
    
    # Calculate quartiles and IQR
    q1 = clean_series.quantile(0.25)
    q3 = clean_series.quantile(0.75)
    iqr = q3 - q1
    
    # Calculate outlier bounds
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    
    # Identify outliers
    outliers = (series < lower_bound) | (series > upper_bound)
    outlier_count = outliers.sum()
    
    print(f"- {column_name}:")
    print(f"  Q1: {q1:.4f}, Q3: {q3:.4f}, IQR: {iqr:.4f}")
    print(f"  Bounds: [{lower_bound:.4f}, {upper_bound:.4f}]")
    print(f"  Outliers found: {outlier_count}")
    
    if outlier_count > 0:
        outlier_values = series[outliers].dropna()
        print(f"  Outlier range: {outlier_values.min():.4f} to {outlier_values.max():.4f}")
    
    return outliers

# Check outliers in latitude and longitude
geographic_columns = ['latitude', 'longitude']
outlier_results = {}

for col in geographic_columns:
    if col in df.columns:
        outliers = detect_outliers_iqr(df[col], col)
        outlier_results[col] = outliers
    else:
        print(f"Column '{col}' not found in dataset")

# Show some outlier examples
print(f"\nOutlier Examples:")
for col, outliers in outlier_results.items():
    if outliers.sum() > 0:
        outlier_data = df[outliers][[col]].head(10)
        print(f"\n{col.title()} outliers (showing first 10):")
        print(outlier_data)

# Example snippet (toy data) - as requested
print(f"\nExample snippet (toy data) - as requested:")
nums = pd.Series([1, 2, 2, 3, 100])
q1, q3 = nums.quantile(0.25), nums.quantile(0.75)
iqr = q3 - q1
outliers = nums[(nums < q1 - 1.5 * iqr) | (nums > q3 + 1.5 * iqr)]
print("Toy example outlier detection:")
print(f"Data: {nums.tolist()}")
print(f"Q1: {q1}, Q3: {q3}, IQR: {iqr}")
print(f"Outliers: {outliers.tolist()}")

Outlier Detection in Geographic Coordinates
=============================================
- latitude:
  Q1: 34.6489, Q3: 44.4251, IQR: 9.7762
  Bounds: [19.9847, 59.0893]
  Outliers found: 38
  Outlier range: -200.0000 to 999.0000
- longitude:
  Q1: -105.2140, Q3: -91.3193, IQR: 13.8946
  Bounds: [-126.0559, -70.4774]
  Outliers found: 30
  Outlier range: -400.0000 to 999.0000

Outlier Examples:

Latitude outliers (showing first 10):
       latitude
18  -200.000000
42   999.000000
104   18.303842
126   18.375467
127 -200.000000
133 -200.000000
196 -200.000000
347  200.000000
393  200.000000
400  200.000000

Longitude outliers (showing first 10):
      longitude
7    999.000000
115  999.000000
198  400.000000
213  -69.861749
224 -400.000000
349 -400.000000
431 -400.000000
456 -400.000000
485  400.000000
535  999.000000

Example snippet (toy data) - as requested:
Toy example outlier detection:
Data: [1, 2, 2, 3, 100]
Q1: 2.0, Q3: 3.0, IQR: 1.0
Outliers: [100]

In [18]:
# Task 18: Ensure ZIP codes are valid 5-digit numbers
print("ZIP Code Validation")
print("="*20)

# Check current ZIP code status
print("Current ZIP code statistics:")
zip_col = 'zip_code'
if zip_col in df.columns:
    print(f"- Data type: {df[zip_col].dtype}")
    print(f"- Non-null count: {df[zip_col].notna().sum()}")
    print(f"- Null count: {df[zip_col].isna().sum()}")
    
    # Get non-null ZIP codes for analysis
    valid_zips = df[zip_col].dropna()
    
    if len(valid_zips) > 0:
        print(f"- Min value: {valid_zips.min()}")
        print(f"- Max value: {valid_zips.max()}")
        
        # Check for valid 5-digit ZIP codes
        # Valid ZIP codes should be between 00501 and 99950
        valid_range = (valid_zips >= 501) & (valid_zips <= 99950)
        valid_length = (valid_zips >= 10000) & (valid_zips <= 99999)  # 5-digit check
        
        valid_count = valid_range.sum()
        valid_length_count = valid_length.sum()
        
        print(f"- ZIP codes in valid range (501-99950): {valid_count}")
        print(f"- ZIP codes with 5 digits (10000-99999): {valid_length_count}")
        
        # Identify invalid ZIP codes
        invalid_zips = valid_zips[~valid_range]
        if len(invalid_zips) > 0:
            print(f"\nInvalid ZIP codes found: {len(invalid_zips)}")
            print(f"Examples of invalid ZIP codes: {invalid_zips.head(10).tolist()}")
            
            # Mark invalid ZIP codes as NaN
            invalid_mask = ~((df[zip_col] >= 501) & (df[zip_col] <= 99950))
            df.loc[invalid_mask, zip_col] = pd.NA
            print(f"Marked {invalid_mask.sum()} invalid ZIP codes as NaN")
        
        # Check for ZIP codes that might need leading zeros
        short_zips = valid_zips[valid_zips < 10000]
        if len(short_zips) > 0:
            print(f"\nZIP codes < 10000 (might need leading zeros): {len(short_zips)}")
            print(f"Examples: {short_zips.head(10).tolist()}")
    
    print(f"\nFinal ZIP code statistics after validation:")
    print(f"- Valid ZIP codes: {((df[zip_col] >= 501) & (df[zip_col] <= 99950)).sum()}")
    print(f"- Invalid/Missing ZIP codes: {df[zip_col].isna().sum()}")
else:
    print(f"Column '{zip_col}' not found in dataset")

ZIP Code Validation
====================
Current ZIP code statistics:
- Data type: float64
- Non-null count: 1726
- Null count: 159
- Min value: 0.0
- Max value: 999999.0
- ZIP codes in valid range (501-99950): 1484
- ZIP codes with 5 digits (10000-99999): 1484

Invalid ZIP codes found: 242
Examples of invalid ZIP codes: [123.0, 123.0, 123.0, 0.0, 999999.0, 0.0, 0.0, 123.0, 123.0, 123.0]
Marked 401 invalid ZIP codes as NaN

ZIP codes < 10000 (might need leading zeros): 205
Examples: [123.0, 123.0, 123.0, 0.0, 0.0, 0.0, 123.0, 123.0, 123.0, 123.0]

Final ZIP code statistics after validation:
- Valid ZIP codes: 1484
- Invalid/Missing ZIP codes: 401

## 7. Derived Features & Export

Let's create useful derived features and export the cleaned dataset.

In [19]:
# Task 19: Create response_time_days = Date Sent  Date Received (in days)
print("Creating Derived Features")
print("="*30)

# Create response time feature
print("Creating response_time_days feature...")

# Check if both date columns exist and are datetime
date_received_col = 'date_received'
date_sent_col = 'date_sent_to_company'

if date_received_col in df.columns and date_sent_col in df.columns:
    # Calculate response time in days
    df['response_time_days'] = (df[date_sent_col] - df[date_received_col]).dt.days
    
    # Show statistics for the new feature
    response_stats = df['response_time_days'].describe()
    print(f"Response Time Statistics:")
    print(response_stats)
    
    # Check for negative response times (data quality issue)
    negative_response = (df['response_time_days'] < 0).sum()
    if negative_response > 0:
        print(f"\nWarning: {negative_response} records have negative response times")
        print("This might indicate data quality issues")
        
        # Show examples of negative response times
        negative_examples = df[df['response_time_days'] < 0][
            [date_received_col, date_sent_col, 'response_time_days']
        ].head()
        print("\nExamples of negative response times:")
        display(negative_examples)
    
    # Show distribution
    print(f"\nResponse Time Distribution:")
    print(f"- Same day (0 days): {(df['response_time_days'] == 0).sum()}")
    print(f"- 1-7 days: {((df['response_time_days'] >= 1) & (df['response_time_days'] <= 7)).sum()}")
    print(f"- 8-30 days: {((df['response_time_days'] >= 8) & (df['response_time_days'] <= 30)).sum()}")
    print(f"- Over 30 days: {(df['response_time_days'] > 30).sum()}")
    print(f"- Missing/Invalid: {df['response_time_days'].isna().sum()}")
    
else:
    print(f"Required columns not found: {date_received_col}, {date_sent_col}")
    print(f"Available columns: {list(df.columns)}")

# Example snippet (toy data) - as requested
print(f"\nExample snippet (toy data) - as requested:")
dates = pd.DataFrame({
    "received": pd.to_datetime(["2020-01-01", "2020-01-02"]),
    "sent": pd.to_datetime(["2020-01-05", "2020-01-03"])
})
dates['response_days'] = (dates['sent'] - dates['received']).dt.days
print("Toy example response time calculation:")
print(dates)

Creating Derived Features
==============================
Creating response_time_days feature...
Response Time Statistics:
count    1885.000000
mean       26.623342
std        18.795448
min        -5.000000
25%        10.000000
50%        26.000000
75%        43.000000
max        59.000000
Name: response_time_days, dtype: float64

Warning: 135 records have negative response times
This might indicate data quality issues

Examples of negative response times:

   date_received date_sent_to_company  response_time_days
18    2023-03-29           2023-03-24                  -5
20    2024-02-01           2024-01-28                  -4
22    2023-05-30           2023-05-27                  -3
37    2024-01-27           2024-01-25                  -2
71    2023-12-03           2023-12-02                  -1

Response Time Distribution:
- Same day (0 days): 23
- 1-7 days: 231
- 8-30 days: 700
- Over 30 days: 796
- Missing/Invalid: 0

Example snippet (toy data) - as requested:
Toy example response time calculation:
    received       sent  response_days
0 2020-01-01 2020-01-05              4
1 2020-01-02 2020-01-03              1

In [20]:
# Task 20: Select a subset of useful columns
print("Selecting Useful Columns for Export")
print("="*40)

# Define the subset of useful columns
useful_columns = [
    'complaint_id',
    'product', 
    'issue',
    'company',
    'state',
    'city',
    'zip_code',
    'status',
    'date_received',
    'date_sent_to_company',
    'response_time_days',
    'timely_response?',
    'consumer_disputed?',
    'company_response_to_consumer'
]

# Check which columns exist in the dataset
existing_columns = []
missing_columns = []

for col in useful_columns:
    if col in df.columns:
        existing_columns.append(col)
    else:
        missing_columns.append(col)

print(f"Columns selected for export: {len(existing_columns)}")
print("Selected columns:")
for col in existing_columns:
    print(f"- {col}")

if missing_columns:
    print(f"\nColumns not found in dataset: {missing_columns}")

# Create the subset dataframe
df_export = df[existing_columns].copy()

print(f"\nExport dataset summary:")
print(f"- Shape: {df_export.shape}")
print(f"- Memory usage: {df_export.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

# Show sample of the export dataset
print(f"\nSample of export dataset:")
display(df_export.head())

Selecting Useful Columns for Export
========================================
Columns selected for export: 14
Selected columns:
- complaint_id
- product
- issue
- company
- state
- city
- zip_code
- status
- date_received
- date_sent_to_company
- response_time_days
- timely_response?
- consumer_disputed?
- company_response_to_consumer

Export dataset summary:
- Shape: (1885, 14)
- Memory usage: 0.09 MB

Sample of export dataset:

,complaint_id,product,issue,company,state,city,zip_code,status,date_received,date_sent_to_company,response_time_days,timely_response?,consumer_disputed?,company_response_to_consumer
0,100000,Mortgage,NaN,Metro Loans,Ny,New York,75285.0,Closed,2023-11-10,2024-01-01,52,N,NaN,NaN
1,100001,Mortgage,Collection Harassment,Nan,Fl,Miami,43383.0,Resolved,2023-03-12,2023-03-21,9,NaN,N,NaN
2,100002,NaN,Other,Nan,Ny,NaN,43864.0,Closed,2023-10-20,2023-11-27,38,FALSE,NaN,NaN
3,100003,Student Loan,Fees,Metro Loans,Ga,New York,NaN,NaN,2023-02-17,2023-03-13,24,NaN,No,NaN
4,100004,Credit Card,Collection Harassment,United Credit,Pa,New York,62086.0,NaN,2023-11-21,2023-11-23,2,Yes,NaN,NaN

In [21]:
# Task 21: Export to CSV
print("Exporting Cleaned Dataset")
print("="*30)

# Define output filename
output_filename = "consumer_complaints_cleaned.csv"

try:
    # Export the cleaned dataset
    df_export.to_csv(output_filename, index=False)
    
    print(f" Successfully exported cleaned dataset to: {output_filename}")
    print(f"- Rows exported: {len(df_export):,}")
    print(f"- Columns exported: {len(df_export.columns)}")
    
    # Verify the export by reading back a few rows
    verification = pd.read_csv(output_filename, nrows=3)
    print(f"- File size verification: {len(verification.columns)} columns read back")
    
    print(f"\nExport Summary:")
    print(f"- Original dataset: {df.shape[0]:,} rows, {df.shape[1]} columns")
    print(f"- Cleaned dataset: {df_export.shape[0]:,} rows, {df_export.shape[1]} columns")
    print(f"- Data reduction: {((df.shape[0] - df_export.shape[0]) / df.shape[0] * 100):.1f}% rows removed")
    print(f"- Column reduction: {((df.shape[1] - df_export.shape[1]) / df.shape[1] * 100):.1f}% columns removed")
    
except Exception as e:
    print(f" Error exporting dataset: {str(e)}")

print(f"\n" + "="*50)
print("DATA CLEANING PIPELINE COMPLETED!")
print("="*50)
print(f"Final dataset ready for analysis: {output_filename}")
print(f"Key cleaning operations performed:")
print(f"-  Missing value analysis and handling")
print(f"-  Duplicate removal")
print(f"-  Data type conversions")
print(f"-  Column standardization (snake_case)")
print(f"-  Category standardization")
print(f"-  Null-like token replacement")
print(f"-  Outlier detection")
print(f"-  Data validation (ZIP codes)")
print(f"-  Derived feature creation")
print(f"-  Export to CSV")
print("="*50)

Exporting Cleaned Dataset
==============================
 Successfully exported cleaned dataset to: consumer_complaints_cleaned.csv
- Rows exported: 1,885
- Columns exported: 14
- File size verification: 14 columns read back

Export Summary:
- Original dataset: 1,885 rows, 17 columns
- Cleaned dataset: 1,885 rows, 14 columns
- Data reduction: 0.0% rows removed
- Column reduction: 17.6% columns removed

==================================================
DATA CLEANING PIPELINE COMPLETED!
==================================================
Final dataset ready for analysis: consumer_complaints_cleaned.csv
Key cleaning operations performed:
-  Missing value analysis and handling
-  Duplicate removal
-  Data type conversions
-  Column standardization (snake_case)
-  Category standardization
-  Null-like token replacement
-  Outlier detection
-  Data validation (ZIP codes)
-  Derived feature creation
-  Export to CSV
==================================================